@model AKDEMIC.INTRANET.Areas.Admin.Models.EvaluationReportViewModels.ActaScoresViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Acta de notas</title>
</head>
<body>
    <table>
        <thead class="headerformat" style="height:100px;">
            <tr>
                <th colspan="3" style="border:0px;"></th>
                @if (Model.BasicInformation.EvaluationByUnits)
                {
                    <th colspan="@((int)Model.BasicInformation.CourseUnits)" class="bold center header2">PROMEDIOS PARCIALES</th>
                }
                else
                {
                    <th colspan="@((int)Model.BasicInformation.Evaluations)" class="bold center header2">PROMEDIOS PARCIALES</th>
                }
                <th colspan="2" style="border:0px;"></th>
            </tr>
            <tr>
                <th colspan="1" class="bold center">N°</th>
                <th colspan="2" class="bold center">APELLIDOS Y NOMBRES</th>
                @if (Model.BasicInformation.EvaluationByUnits)
                {
                    @for (int i = 1; i <= Model.BasicInformation.CourseUnits; i++)
                    {
                        <th class="bold center" style="max-width:50px !important; font-size:10px;">@AKDEMIC.INTRANET.Helpers.ConstantHelpers.SEQUENCEORDER.NAMES[i] PROMEDIO PARCIAL</th>
                    }
                }
                else
                {
                    @for (int i = 1; i <= Model.BasicInformation.Evaluations; i++)
                    {
                        <th class="bold center" style="max-width:50px !important; font-size:10px;">@AKDEMIC.INTRANET.Helpers.ConstantHelpers.SEQUENCEORDER.NAMES[i] PROMEDIO PARCIAL</th>
                    }
                }
                <th class="bold center">PROMEDIO FINAL</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <th class="thd" style="text-align: center;">@Model.Rows[i].Order</th>
                    <th class="thd" style="border-right:0px !important;">@Model.Rows[i].Code - @Model.Rows[i].Surnames , @Model.Rows[i].Names</th>
                    <th class="thd" style="width:100px; border-left:0px !important;">@((Model.BasicInformation.IsSummer.HasValue && Model.BasicInformation.IsSummer.Value) ? "NIVELACIÓN" : Model.Type == ConstantHelpers.Intranet.EvaluationReportType.EXTRAORDINARY_EVALUATION ? "EXTRAORDINARIO" : AKDEMIC.CORE.Helpers.ConstantHelpers.Student.COURSE_ATTEMPTS.NAMES[Model.Rows[i].Try]) @(Model.Rows[i].HasSusti?"(s)" : "") </th>

                    @if (Model.BasicInformation.EvaluationByUnits)
                    {
                        @for (int v = 0; v < Model.BasicInformation.CourseUnits; v++)
                        {
                            @if (Model.Rows[i].PartialAverages.Count() > 0)
                            {
                                @if (Model.Rows[i].PartialAverages[v] < Model.Approbed)
                                {
                                    <th class="red thd" style="text-align:center !important;">@($"{Model.Rows[i].PartialAverages[v]:00}")</th>
                                }
                                else
                                {
                                    if (Model.Rows[i].PartialAverages[v] == 21 || Model.Rows[i].PartialAverages[v] == null)
                                    {
                                        <th class="thd" style="font-weight:bold; text-align:center !important;">-</th>
                                    }
                                    else
                                    {
                                        <th class="thd" style="font-weight:bold; text-align:center !important;">@($"{Model.Rows[i].PartialAverages[v]:00}")</th>
                                    }
                                }
                            }
                        }
                    }
                    else
                    {
                        @for (int v = 0; v < Model.BasicInformation.Evaluations; v++)
                        {
                            @if (Model.Rows[i].PartialEvaluationAverages.Count() > 0)
                            {
                                @if (Model.Rows[i].PartialEvaluationAverages[v] < Model.Approbed)
                                {
                                    <th class="red thd" style="text-align: center !important">@($"{Model.Rows[i].PartialEvaluationAverages[v]:00.00}")</th>
                                }
                                else
                                {
                                    if (Model.Rows[i].PartialEvaluationAverages[v] == 21 || Model.Rows[i].PartialEvaluationAverages[v] == null)
                                    {
                                        <th class="thd" style="font-weight:bold; text-align:center !important;">-</th>
                                    }
                                    else
                                    {
                                        <th class="thd" style="font-weight:bold; text-align:center !important;">@($"{Model.Rows[i].PartialEvaluationAverages[v]:00.00}")</th>
                                    }
                                }
                            }
                        }
                    }

                    @if (Model.Rows[i].FinalEvaluationNumber < Model.Approbed)
                    {
                        <th class="red thd" style="text-align: center !important;">@Model.Rows[i].FinalEvaluation</th>
                    }
                    else
                    {
                        <th class="thd" style="font-weight:bold; text-align:center !important;">@($"{Model.Rows[i].FinalEvaluation:00}")</th>
                    }
                </tr>
            }

            @if (Model.Rows.Count == 0)
            {
                <tr>
                    <th class="center" colspan="12">No hay estudiantes en la sección</th>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
