@model AKDEMIC.REPOSITORY.Repositories.Intranet.Templates.EvaluationReport.EvaluationReportInformationTemplate
@using Microsoft.AspNetCore.Hosting;
@using AKDEMIC.CORE.Helpers
@using AKDEMIC.CORE.Extensions;
@inject IWebHostEnvironment _webHostEnvironment
@{
    Layout = null;
    var colspan = 5 + Model.Course.Evaluations.Count() + Model.Course.CourseUnits.Count();

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>ACTA DE EVALUACIÓN FINAL</title>
    <link href="@(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, @"css/views/evaluation_report/evaluation_report_fonts.css"))" rel="stylesheet" type="text/css" />
    
    <style>
        .bold {
            font-weight: bold;
        }

        .red {
            color: red;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .left {
            text-align: left;
        }

        body {
            font-family: "DejaVu Sans Condensed";
        }

        .main-table {
            width: 100% !important;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .footer-table {
            width: 100% !important;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table > tbody > tr {
            page-break-inside: avoid !important;
        }

        .header-univ-logo {
            float: left;
        }

            .header-univ-logo img {
                height: 100px !important;
            }


        .header {
            font-weight: 600;
            text-align: center;
            width: 100%;
        }

            .header .university-title {
                font-size: 25px !important;
                margin: 0px !important;
                padding-top: 5px !important;
                padding: 0px !important;
            }

            .header .university-title2 {
                font-size: 25px !important;
                margin: 0px !important;
                padding-top: 5px !important;
                padding: 0px !important;
                font-weight: normal !important;
            }

            .header .resolution-title {
                font-size: 15px !important;
                font-weight: normal !important;
                margin: 0px !important;
                padding: 0px !important;
                padding-top: 5px !important;
            }

            .header .office-title {
                font-size: 11px !important;
            }

            .header .date-title {
                font-size: 11px !important;
                font-weight: normal !important;
            }

            .header .header-title {
                font-size: 18px !important;
                margin: 0px !important;
                padding: 0px !important;
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }


        .table-general-detail {
            width: 100%;
            text-align: left;
            font-weight: normal;
            font-size: 15px !important;
        }

            .table-general-detail td {
                padding: 0px !important;
                padding-top: 6px !important;
                padding-bottom: 0px !important;
                margin: 0px !important;
            }


        .report-name {
            font-size: 19px !important;
            /*color: red;*/
            font-weight: bold;
            height: 50px !important;
        }

        .act-number {
            font-weight: bold;
            font-size: 14px !important;
        }

        .bordered-header {
            padding: 2px !important;
            font-size: 14px !important;
            font-weight: normal;
            border: 1px solid;
            background-color: lightgray;
        }

        .bordered-detail {
            font-size: 12px !important;
            height: 20px !important;
            border: 1px solid black;
        }

        .bordered-detail-empty {
            height: 20px !important;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            background-color: white;
        }

        .borderder-detail-empty-header {
            border-top: 2px solid white;
        }

        .border-none {
            border: 0px !important;
            background-color: white;
        }

        .no-signature {
            width: 5%;
            border: 4px solid white;
        }

        .signature {
            /*color: red;*/
            font-size: 11px !important;
            height: 30px !important;
            border-top: 1px solid black;
        }

        .td-qr {
            text-align: center;
            height: 70px !important;
        }

            .td-qr img {
                max-height: 40px;
                width: 250px;
            }

        .table-statistics {
            margin-top: 10px !important;
            width: 100% !important;
            border-collapse: collapse;
            border-spacing: 0;
        }

            .table-statistics td {
                font-size: 14px !important;
                border: 1px solid black;
                padding: 6px !important;
            }

            .table-statistics .header-stat {
                background-color: lightgray;
            }
    </style>
</head>
<body>
    <table class="main-table">
        <thead>
            <tr>
                <th colspan="@colspan">
                    <table style="width:100% !important;">
                        <tr>
                            <th width="15%">
                                <div class="header-univ-logo">
                                    <img src="@Model.Img" />
                                </div>

                            </th>
                            <th colspan="@(colspan-2)">
                                <div class="header">
                                    <p class="university-title">@GeneralHelpers.GetInstitutionName().ToUpper()</p>
                                    <p class="university-title2">@*VICERRECTORADO ACADÉMICO*@ @Model.Header</p>
                                    <p class="resolution-title">DIRECCIÓN DE ADMISIÓN Y REGISTROS ACADÉMICOS</p>
                                </div>
                            </th>
                            <th width="15%">
                            </th>
                        </tr>
                    </table>
                </th>
            </tr>
            <tr>
                <th colspan="@colspan">
                    <div style="height:10px"></div>
                    @*<div class="header">
                        <p class="header-title">
                        ACTA DE EVALUACIÓN FINAL
                        </p>
                        </div>*@
                </th>
            </tr>
            <tr>
                <th colspan="@colspan">
                    <table class="table-general-detail">
                        <tbody>
                            <tr>
                                <td class="bold" width="15%">Facultad</td>
                                <td>:</td>
                                <td colspan="4">@Model.Course.Career.Faculty</td>
                            </tr>
                            <tr>
                                <td class="bold">Escuela</td>
                                <td>:</td>
                                <td>@Model.Course.Career.Name</td>

                                <td class="bold">Semestre</td>
                                <td>:</td>
                                <td>@Model.Term.Name</td>
                            </tr>
                            <tr>
                                <td class="bold">Curso</td>
                                <td>:</td>
                                <td>@Model.Course.Name</td>

                                <td class="bold">Grupo</td>
                                <td>:</td>
                                <td>@Model.Course.Section.Code</td>
                            </tr>
                            <tr>
                                <td class="bold">Docente</td>
                                <td>:</td>
                                <td>@Model.Course.Section.Teacher</td>

                                <td class="bold">Créditos</td>
                                <td>:</td>
                                <td>@Model.Course.Credits</td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
            <tr>
                <th height="10px">

                </th>
            </tr>
            <tr class="bordered-header">
                <th rowspan="3" width="3%" class="bordered-header">Nº</th>
                <th rowspan="3" class="bordered-header">CARNET</th>
                <th rowspan="3" class="bordered-header">APELLIDOS Y NOMBRES</th>

                <th colspan="@(Model.Course.Evaluations.Count() + Model.Course.CourseUnits.Count())" class="bordered-header">EVALUACIONES POR UNIDADES</th>

                <th rowspan="3" class="bordered-header">S</th>
                <th rowspan="3" class="bordered-header">F</th>
            </tr>

            <tr class="bordered-header">
                @if (Model.Course.EvaluationByUnits)
                {
                    @for (int i = 0; i < Model.Course.CourseUnits.Count(); i++)
                    {
                        <th colspan="@(Model.Course.Evaluations.Where(x=>x.CourseUnitId == Model.Course.CourseUnits[i].Id).Count()+1)" class="bordered-header">UNIDAD @(i+1)</th>
                    }
                }
                else
                {
                    <th colspan="3" class="bordered-header">SIN UNIDADES ASIGNADAS</th>

                }
            </tr>

            <tr>
                @for (int i = 0; i < Model.Course.CourseUnits.Count(); i++)
                {
                    var evaluations = Model.Course.Evaluations.Where(x => x.CourseUnitId == Model.Course.CourseUnits[i].Id).ToList();

                    foreach (var item in evaluations)
                    {
                        <th class="bordered-header">
                            @item.Name
                            <br />
                            @item.Percentage%
                        </th>
                    }

                    <th class="bordered-header">P.</th>
                }
            </tr>



        </thead>
        <tbody>
            @for (int i = 0; i < Model.Course.Section.Students.Count(); i++)
            {
                <tr class="bordered-detail">
                    <td class="bordered-detail center">@((i+1))</td>
                    <td class="bordered-detail center">@Model.Course.Section.Students[i].UserName</td>
                    <td class="bordered-detail">@Model.Course.Section.Students[i].FullName</td>

                    @foreach (var courseUnit in Model.Course.CourseUnits)
                    {
                        var evaluations = Model.Course.Evaluations.Where(x => x.CourseUnitId == courseUnit.Id).ToList();

                        @foreach (var evaluation in evaluations)
                        {
                            var gradeEntity = Model.Course.Section.Students[i].Grades.Where(x => x.EvaluationId == evaluation.Id).FirstOrDefault();

                            if (gradeEntity == null)
                            {
                                <td class="bordered-detail center">-</td>

                            }
                            else
                            {
                                if (Model.Course.Section.Students[i].HasGradeRecovery && Model.Course.Section.Students[i].GradeIdUpdatedByGradeRecovery == gradeEntity.Id)
                                {
                                    <td class="bordered-detail center">@Model.Course.Section.Students[i].GradeBeforeGradeRecovery.ToString()</td>
                                }
                                else
                                {
                                    <td class="bordered-detail center">@gradeEntity.Value.ToString()</td>
                                }
                            }
                        }

                        <td class="bordered-detail center">@Model.Course.Section.Students[i].Averages.Where(x => x.Id == courseUnit.Id).Select(x => x.Average).FirstOrDefault()</td>
                    }

                    <td class="bordered-detail center">
                        @if (Model.Course.Section.Students[i].HasGradeRecovery)
                        {
                            @Html.Raw(Model.Course.Section.Students[i].GradeRecoveryValue.ToString())
                        }
                        else
                        {
                            @Html.Raw("-")
                        }
                    </td>
                    <td class="bordered-detail center">@Model.Course.Section.Students[i].FinalGrade</td>

                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td height="20px"></td>
            </tr>
            <tr>
                <td colspan="@(colspan-9)">
                    @if (Model.Term.Status == ConstantHelpers.TERM_STATES.ACTIVE)
                    {
                        @if (Model.Course.Section.Students.Any(y => !y.DPI && !y.HasAllGradesPublished))
                        {
                            <table class="footer-table" style="float:left;">
                                <tr>
                                    <td class="bordered-detail">Nº de alumnos aprobados</td>
                                    <td class="bordered-detail">-</td>

                                    <td class="bordered-detail">% de aprobados</td>
                                    <td class="bordered-detail">-</td>
                                </tr>

                                <tr>
                                    <td class="bordered-detail">Nº de alumnos desaprobados</td>
                                    <td class="bordered-detail">-</td>

                                    <td class="bordered-detail">% de desaprobados</td>
                                    <td class="bordered-detail">-</td>
                                </tr>

                                <tr>
                                    <td class="bordered-detail">Nº de alumnos retirados</td>
                                    <td class="bordered-detail">-</td>

                                    <td class="bordered-detail">% de retirados</td>
                                    <td class="bordered-detail">-</td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            <table class="footer-table" style="float:left;">
                                <tr>
                                    <td class="bordered-detail">Nº de alumnos aprobados</td>
                                    <td class="bordered-detail">@Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN && x.Approved).Count()</td>

                                    <td class="bordered-detail">% de aprobados</td>
                                    <td class="bordered-detail">@(Math.Round(Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN && x.Approved).Count() * 100m / Model.Course.Section.Students.Count(),2,MidpointRounding.AwayFromZero))%</td>
                                </tr>

                                <tr>
                                    <td class="bordered-detail">Nº de alumnos desaprobados</td>
                                    <td class="bordered-detail">@Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN &&  !x.Approved).Count()</td>

                                    <td class="bordered-detail">% de desaprobados</td>
                                    <td class="bordered-detail">@(Math.Round(Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN && !x.Approved).Count() * 100m / Model.Course.Section.Students.Count(),2,MidpointRounding.AwayFromZero))%</td>
                                </tr>

                                <tr>
                                    <td class="bordered-detail">Nº de alumnos retirados</td>
                                    <td class="bordered-detail">@Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN).Count()</td>

                                    <td class="bordered-detail">% de retirados</td>
                                    <td class="bordered-detail">@(Math.Round(Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN).Count() * 100m / Model.Course.Section.Students.Count(),2,MidpointRounding.AwayFromZero))%</td>
                                </tr>
                            </table>
                        }
                    }
                    else
                    {
                        <table class="footer-table" style="float:left;">
                            <tr>
                                <td class="bordered-detail">Nº de alumnos aprobados</td>
                                <td class="bordered-detail">@Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.APPROVED).Count()</td>

                                <td class="bordered-detail">% de aprobados</td>
                                <td class="bordered-detail">@(Math.Round(Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.APPROVED).Count() * 100m / Model.Course.Section.Students.Count(),2,MidpointRounding.AwayFromZero))%</td>
                            </tr>

                            <tr>
                                <td class="bordered-detail">Nº de alumnos desaprobados</td>
                                <td class="bordered-detail">@Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.DISAPPROVED || x.Status == ConstantHelpers.STUDENT_SECTION_STATES.DPI).Count()</td>

                                <td class="bordered-detail">% de desaprobados</td>
                                <td class="bordered-detail">@(Math.Round(Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.DISAPPROVED || x.Status == ConstantHelpers.STUDENT_SECTION_STATES.DPI).Count() * 100m / Model.Course.Section.Students.Count(),2,MidpointRounding.AwayFromZero))%</td>
                            </tr>

                            <tr>
                                <td class="bordered-detail">Nº de alumnos retirados</td>
                                <td class="bordered-detail">@Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN).Count()</td>

                                <td class="bordered-detail">% de retirados</td>
                                <td class="bordered-detail">@(Math.Round(Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN).Count() * 100m / Model.Course.Section.Students.Count(),2,MidpointRounding.AwayFromZero))%</td>
                            </tr>
                        </table>
                    }
                </td>
                <td colspan="2">
                </td>
                <td colspan="7">
                    <table style="width:100%">
                        <tr>
                            <td>&emsp;</td>
                        </tr>
                        <tr>
                            <td>&emsp;</td>
                        </tr>
                        <tr>
                            <td>&emsp;</td>
                        </tr>
                        <tr>
                            <td class="center" style="border-top:1px solid !important">DOCENTE FIRMA</td>
                        </tr>
                    </table>
                </td>
            </tr>

        </tfoot>
    </table>
</body>
</html>