@model AKDEMIC.REPOSITORY.Repositories.Enrollment.Templates.StudentSection.SectionPartialGradesReportTemplate

<table class="table table-bordered m-table m-table--border-primary m-table--head-bg-primary">
    <thead>
        <tr>
            <th>ESTUDIANTE</th>
            @for (int i = 0; i < Model.Evaluations.Count; i++)
            {
                <th class="text-center">
                    E@(i+1) (@Model.Evaluations[i].Percentage%)<br />
                    <button data-evaluation="E@(i+1)" data-evaluationId="@Model.Evaluations[i].EvaluationId" data-sectionId="@Model.SectionId" type="button" class="btn btn-secondary btn-sm m-btn m-btn--custom mt-1 btn-clean-grades">Limpiar Notas</button>
                </th>
            }
            <th class="text-center">NOTA FINAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.FullName</td>
                @foreach (var evaluation in Model.Evaluations)
                {
                    if (student.Grades.Any(y => y.EvaluationId == evaluation.EvaluationId))
                    {
                        <td>@student.Grades.Where(x => x.EvaluationId == evaluation.EvaluationId).Select(x => x.Value).FirstOrDefault()</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                }
                <td class="text-center font-weight-bold">@(student.Status == ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN ? "Retirado" : student.Status == ConstantHelpers.STUDENT_SECTION_STATES.IN_PROCESS? "En Proceso" : student.FinalGrade.ToString())</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h4 class="m--font-boldest2">DETALLE DE REGISTRO DE NOTAS</h4>
<table class="table table-bordered m-table m-table--border-primary m-table--head-bg-primary col-xl-6 col-lg-6 col-md-12">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>FEC. PUBLICACIÓN</th>
            <th>¿NOTAS PUBLICADAS?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evaluation in Model.Evaluations)
        {
            <tr>
                <td>@evaluation.Evaluation (@evaluation.Percentage%)</td>
                <td>@(!evaluation.HasGradeRegistration ? "Sin Registrar" : evaluation.GradeRegistrationDate.ToLocalDateTimeFormat()) </td>
                <td>@(!evaluation.HasGradeRegistration ? "-" : (evaluation.GradeRegistationPublished ? "Sí" : "No")) </td>
            </tr>
        }
    </tbody>
</table>