@model AKDEMIC.REPOSITORY.Repositories.Intranet.Templates.EvaluationReport.EvaluationReportInformationTemplate
@using Microsoft.AspNetCore.Hosting;
@using AKDEMIC.CORE.Helpers
@using AKDEMIC.CORE.Extensions;
@inject IWebHostEnvironment _webHostEnvironment
@{
    Layout = null;
    Model.Course.Section.Students = Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN).ToList();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>ACTA DE EVALUACIÓN FINAL</title>
    <link href="@(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, @"css/views/evaluation_report/evaluation_report_fonts.css"))" rel="stylesheet" type="text/css" />
    
    <style>
        .bold {
            font-weight: bold;
        }

        .red {
            color: red;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .left {
            text-align: left;
        }

        body {
            font-family: "DejaVu Sans Condensed";
        }

        .main-table {
            width: 100% !important;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table > tbody > tr {
            page-break-inside: avoid !important;
        }

        .header-univ-logo {
            float: left;
        }

            .header-univ-logo img {
                height: 100px !important;
            }


        .header {
            font-weight: 600;
        }

            .header .university-title {
                font-size: 12px !important;
            }

            .header .resolution-title {
                font-size: 12px !important;
                font-weight: normal !important;
            }

            .header .office-title {
                font-size: 12px !important;
            }

            .header .date-title {
                font-size: 12px !important;
                font-weight: normal !important;
            }

            .header .header-title {
                font-size: 25px !important;
            }


        .table-general-detail {
            width: 100%;
            text-align: left;
            font-weight: normal;
            font-size: 14px !important;
        }

            .table-general-detail td {
                padding: 2px !important;
                padding-top: 6px !important;
                padding-bottom: 6px !important;
                margin: 0px !important;
            }


        .report-name {
            font-size: 19px !important;
            font-weight: bold;
            height: 50px !important;
        }

        .act-number {
            font-weight: bold;
            font-size: 14px !important;
        }

        .bordered-header {
            padding: 2px !important;
            font-size: 12px !important;
            font-weight: bold;
            border: 1px solid;
            background-color: white;
        }

        .bordered-detail {
            font-size: 12px !important;
            height: 20px !important;
            border: 1px solid black;
        }

        .bordered-detail-empty {
            height: 20px !important;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            background-color: white;
        }

        .borderder-detail-empty-header {
            border-top: 2px solid white;
        }

        .border-none {
            border: 0px !important;
            background-color: white;
        }

        .no-signature {
            width: 5%;
            border: 4px solid white;
        }

        .signature {
            /*color: red;*/
            font-size: 14px !important;
            height: 30px !important;
            border-top: 1px solid black;
        }

        .td-qr {
            text-align: center;
            height: 70px !important;
        }

            .td-qr img {
                max-height: 40px;
                width: 250px;
            }

        .table-statistics {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            width: 100% !important;
            border-collapse: collapse;
            border-spacing: 0;
        }

            .table-statistics td {
                font-size: 14px !important;
                border: 1px solid black;
                padding: 6px !important;
            }

            .table-statistics .header-stat {
                background-color: lightgray;
            }

        .blue {
            color: blue !important;
        }

        .red {
            color: red !important;
        }

        .evaluation-info {
            font-size: 12px !important;
        }
    </style>
</head>
<body>
    <table class="main-table">
        <thead>
            <tr class="bordered-header">
                <th class="bordered-header">Nº</th>
                <th class="bordered-header">C&Oacute;DIGO</th>
                <th class="bordered-header">APELLIDOS Y NOMBRES</th>
                <th class="bordered-header">NOTA</th>
                <th class="bordered-header">OBSERVACIONES</th>
            </tr>
        </thead>

        <tbody>

            @for (int i = 0; i < Model.Course.Section.Students.Count(); i++)
            {
                <tr class="bordered-detail">
                    <td width="5%" class="bordered-detail center">@((i+1).ToString("000"))</td>
                    <td class="bordered-detail center">@Model.Course.Section.Students[i].UserName</td>
                    <td width="60%" class="bordered-detail">@Model.Course.Section.Students[i].FullName</td>

                    @if (Model.Course.Section.Students[i].Approved)
                    {
                        <td class="bordered-detail center blue">@Model.Course.Section.Students[i].FinalGrade.ToString("00")</td>
                        <td class="bordered-detail center blue">@Model.Course.Section.Students[i].FinalGradeText</td>
                    }
                    else
                    {
                        <td class="bordered-detail center red">@Model.Course.Section.Students[i].FinalGrade.ToString("00")</td>
                        <td class="bordered-detail center red">@Model.Course.Section.Students[i].FinalGradeText</td>
                    }
                </tr>
            }
            <tr>
                <td colspan="5" height="5px"></td>
            </tr>
        </tbody>    
        <tfoot>
            <tr class="evaluation-info">
                <td colspan="3">@Model.BasicInformation.Id</td>
                @if (!Model.BasicInformation.DateByConfiguration.HasValue && ConstantHelpers.GENERAL.Institution.Value == ConstantHelpers.Institution.UNSCH)
                {
                    <td colspan="2" style="text-align:right !important;">05 de Agosto del 2022</td>
                }
                else
                {
                    <td colspan="2" style="text-align:right !important;">@(Model.BasicInformation.DateByConfiguration.HasValue ? $"{Model.BasicInformation.DateByConfiguration.Value.Day} de {ConstantHelpers.MONTHS.VALUES[Model.BasicInformation.DateByConfiguration.Value.Month]} del {Model.BasicInformation.DateByConfiguration.Value.Year}, {Model.BasicInformation.DateByConfiguration.Value.ToString("HH:mm:ss")}" : "")</td>
                }
            </tr>
        </tfoot>
    </table>
</body>
</html>