@{
    ViewData["Title"] = "Gestión de Anuncios Por Sistema";
    ViewBag.Breadcrumbs = new[] {
new BreadcrumbViewData { Name = "Inicio", Controller = "Home", Action = "Index" },
new BreadcrumbViewData {Name="Gestión de Anuncios Por Sistema", Controller=null, Action=null},
};
}
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption" style="width:100%">
                <div class="m-portlet__head-title" style="width:100%;display: block;">
                    <h3 class="m-portlet__head-text" style="display:initial;">@ViewData["Title"]</h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-4">
                                <label>&emsp;</label>
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a  asp-controller="Announcement" asp-action="AddBeginning" asp-area="Admin" class="btn btn-primary m-btn m-btn--icon">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Nuevo Anuncio</span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="tbl-data"> </table>
        </div>
    </div>
</div>
<div id="AddModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Agregar Anuncio
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="TitleAdd">T&iacute;tulo:</label>
                            <input type="text" id="TitleAdd" name="Title" value="" class="form-control m-input" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="TypeAdd">Tipo:</label>
                            <select id="TypeAdd" name="Type" class="form-control m-input" required>
                                @foreach (var item in ConstantHelpers.ANNOUNCEMENT.TYPE.VALUES)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="DescriptionAdd">Descripci&oacute;n:</label>
                            <input type="text" id="DescriptionAdd" name="Description" value="" class="form-control m-input" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="SystemAdd">Sistema:</label>
                            <select id="SystemAdd" name="System" class="form-control m-input" required>
                                <option value="0">Todos</option>
                                @foreach (var item in ConstantHelpers.ANNOUNCEMENT.SYSTEM.VALUES)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="StartDate">Fecha Inicio</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input name="StartDate" id="StartDateAdd" class="form-control m-input" placeholder="Fecha inicio" required />
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-calendar"></i>
                                    </span>
                                </span>
                                <span for="StartDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="EndDate">Fecha Fin</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input name="EndDate" id="EndDateAdd" class="form-control m-input" placeholder="Fecha fin" required />
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-calendar"></i>
                                    </span>
                                </span>
                                <span for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div style="text-align:right;">
                        <button type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                            <span class="ladda-label">Guardar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Editar Anuncio
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="edit-form">
                <input type="hidden" name="Id" />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="TitleEdit">T&iacute;tulo:</label>
                            <input type="text" id="TitleEdit" name="Title" value="" class="form-control m-input" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="TypeEdit">Tipo:</label>
                            <select id="TypeEdit" name="Type" class="form-control m-input" required>
                                @foreach (var item in ConstantHelpers.ANNOUNCEMENT.TYPE.VALUES)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="DescriptionEdit">Descripci&oacute;n:</label>
                            <input type="text" id="DescriptionEdit" name="Description" value="" class="form-control m-input" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="SystemEdit">Sistema:</label>
                            <select id="SystemEdit" name="System" class="form-control m-input" required>
                                <option value="0">Todos</option>
                                @foreach (var item in ConstantHelpers.ANNOUNCEMENT.SYSTEM.VALUES)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="StartDate">Fecha Inicio</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input name="StartDate" id="StartDateEdit" class="form-control m-input" placeholder="Fecha inicio" required />
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-calendar"></i>
                                    </span>
                                </span>
                                <span for="StartDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group m-form__group col-md-12">
                            <label for="EndDate">Fecha Fin</label>
                            <div class="m-input-icon m-input-icon--right">
                                <input name="EndDate" id="EndDateEdit" class="form-control m-input" placeholder="Fecha fin" required />
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-calendar"></i>
                                    </span>
                                </span>
                                <span for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align:right;">
                        <button type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                            <span class="ladda-label">Guardar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/areas/admin/announcement/beginning.js"></script>
}
