@model AKDEMIC.REPOSITORY.Repositories.Intranet.Templates.EvaluationReport.EvaluationReportInformationTemplate
@using Microsoft.AspNetCore.Hosting;
@using AKDEMIC.CORE.Helpers
@using AKDEMIC.CORE.Extensions;
@inject IWebHostEnvironment _webHostEnvironment
@{
    Layout = null;
    var evaluationTypes = Model.Course.Evaluations.GroupBy(x => x.EvaluationType).Select(x => x.Key).ToList();
    var colSpan = 4 + Model.Course.CourseUnits.Count() + Model.Course.Evaluations.Count();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>ACTA OFICIAL DE NOTAS</title>
    <link href="@(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, @"css/views/evaluation_report/evaluation_report_fonts.css"))" rel="stylesheet" type="text/css" />
    
    <style>
        .bold {
            font-weight: bold;
        }

        .red {
            color: red;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .left {
            text-align: left;
        }

        body {
            font-family: "DejaVu Sans Condensed";
        }

        .main-table {
            width: 100% !important;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table > tbody > tr {
            page-break-inside: avoid !important;
        }

        .header-univ-logo {
            float: left;
        }

            .header-univ-logo img {
                height: 100px !important;
            }


        .header {
            font-weight: 600;
        }

            .header .university-title {
                font-size: 25px !important;
            }

            .header .resolution-title {
                font-size: 12px !important;
                font-weight: normal !important;
            }

            .header .office-title {
                font-size: 12px !important;
            }

            .header .date-title {
                font-size: 12px !important;
                font-weight: normal !important;
            }

            .header .header-title {
                font-size: 28px !important;
            }


        .table-general-detail {
            width: 100%;
            text-align: left;
            font-weight: normal;
            font-size: 15px !important;
            border: 1px solid black;
            border-collapse: collapse;
        }

            .table-general-detail td {
                padding: 3px !important;
                margin: 0px !important;
                border: 1px solid black;
            }


        .report-name {
            font-size: 19px !important;
            font-weight: bold;
            height: 50px !important;
        }

        .act-number {
            font-weight: bold;
            font-size: 14px !important;
        }

        .bordered-header {
            padding: 2px !important;
            font-size: 14px !important;
            font-weight: normal;
            border: 1px solid;
            font-weight: bold;
        }

        .bordered-detail {
            font-size: 12px !important;
            height: 20px !important;
            border: 1px solid black;
        }

        .bordered-detail-empty {
            height: 20px !important;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            background-color: white;
        }

        .borderder-detail-empty-header {
            border-top: 2px solid white;
        }

        .border-none {
            border: 0px !important;
            background-color: white;
        }

        .no-signature {
            width: 5%;
            border: 4px solid white;
        }

        .signature {
            /*color: red;*/
            font-size: 14px !important;
            height: 30px !important;
            border-top: 1px solid black;
        }

        .td-qr {
            text-align: center;
            height: 70px !important;
        }

            .td-qr img {
                max-height: 40px;
                width: 250px;
            }

        .table-statistics {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            width: 100% !important;
            border-collapse: collapse;
            border-spacing: 0;
        }

            .table-statistics td {
                font-size: 14px !important;
                border: 1px solid black;
                padding: 6px !important;
            }

            .table-statistics .header-stat {
                background-color: lightgray;
            }

        .table-term-detail {
            padding-left: 100px !important;
            text-align: left;
            font-weight: normal;
            font-size: 13px !important;
        }

        .normal {
            font-weight: normal !important;
        }
    </style>
</head>
<body>
    <table class="main-table">
        <thead>
            <tr>
                <th colspan="@colSpan">
                    <table width="100%">
                        <tr>
                            <th width="25%">
                                <div class="header-univ-logo">
                                    <img src="@Model.Img" />
                                </div>
                            </th>
                            <th class="center">
                                <div class="header">
                                    <p class="university-title">@GeneralHelpers.GetInstitutionName().ToUpper()</p>
                                </div>
                            </th>
                            <th width="25%">
                                <table class="table-term-detail">
                                    <tr>
                                        <td>FECHA: @DateTime.UtcNow.ToLocalDateFormat()</td>
                                    </tr>
                                    <tr>
                                        <td>HORA: @DateTime.UtcNow.ToLocalTimeFormat()</td>
                                    </tr>
                                    <tr>
                                        <td>SEMESTRE: @Model.Term.Name</td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                    </table>
                </th>
            </tr>
            <tr>
                <th colspan="@colSpan">
                    <div class="header">
                        <p class="header-title">
                            REGISTRO DE EVALUACIÓN
                        </p>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="@colSpan">
                    <table class="table-general-detail">
                        <tbody>
                            <tr>
                                <td colspan="2" class="bold">ESCUELA PROFESIONAL : <span class="normal">@Model.Course.Career.Name</span></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="bold">PLAN DE ESTUDIOS: <span class="normal">@Model.Course.Curriculum</span></td>
                            </tr>
                            <tr>
                                <td class="bold">CURSO: <span class="normal">@(Model.Course.Code) - @(Model.Course.Name)</span></td>
                                <td class="bold">CICLO: <span class="normal">@(ConstantHelpers.ACADEMIC_YEAR.TEXT.ContainsKey(Model.Course.AcademicYear) ? ConstantHelpers.ACADEMIC_YEAR.TEXT[Model.Course.AcademicYear].ToUpper() : "-")</span></td>
                            </tr>
                            <tr>
                                <td class="bold">SECCIÓN: <span class="normal">@Model.Course.Section.Code</span></td>
                                <td class="bold">CRÉDITOS: <span class="normal">@Model.Course.Credits</span></td>
                            </tr>
                            <tr>
                                <td class="bold" colspan="2">DOCENTE: <span class="normal">@Model.Course.Section.Teacher</span></td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
            <tr>
                <th colspan="@colSpan" height="20px"></th>
            </tr>
            <tr class="bordered-header">
                <th rowspan="3" class="bordered-header" width="5px">Nº</th>
                <th rowspan="3" class="bordered-header">C&Oacute;DIGO</th>
                <th rowspan="3" class="bordered-header">APELLIDOS Y NOMBRES</th>

                @for (var i = 0; i < Model.Course.CourseUnits.Count(); i++)
                {
                    <th colspan="@Model.Course.Evaluations.Where(y=>y.CourseUnitId==Model.Course.CourseUnits[i].Id).Count()" class="bordered-header">UNIDAD @(ConstantHelpers.ACADEMIC_YEAR.ROMAN_NUMERALS[(i+1)])</th>
                    <th rowspan="3" class="bordered-header">PROMEDIO <br> DE UNIDAD <br> @(ConstantHelpers.ACADEMIC_YEAR.ROMAN_NUMERALS[(i+1)])</th>
                }

                <th rowspan="3" class="bordered-header">PROMEDIO<br /> FINAL</th>
            </tr>

            <tr class="bordered-header">

                @for (var i = 0; i < Model.Course.CourseUnits.Count(); i++)
                {
                    @foreach (var eva in Model.Course.Evaluations.Where(y => y.CourseUnitId == Model.Course.CourseUnits[i].Id))
                    {
                        <th style="font-size:12px !important;" class="bordered-header">@Html.Raw(string.Join("<br>",eva.Name.Split(" ").ToList()))</th>
                    }
                }
            </tr>

            <tr class="bordered-header">

                @for (var i = 0; i < Model.Course.CourseUnits.Count(); i++)
                {
                    @foreach (var eva in Model.Course.Evaluations.Where(y => y.CourseUnitId == Model.Course.CourseUnits[i].Id))
                    {
                        <th style="font-size:12px !important;" class="bordered-header">@(eva.Percentage)%</th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Course.Section.Students.Count(); i++)
            {
                <tr class="bordered-detail">
                    <td class="bordered-detail center" width="5%">@(i+1)</td>
                    <td class="bordered-detail center">@Model.Course.Section.Students[i].UserName</td>
                    <td class="bordered-detail">@Model.Course.Section.Students[i].FullName</td>


                    @for (var v = 0; v < Model.Course.CourseUnits.Count(); v++)
                    {
                        @foreach (var eva in Model.Course.Evaluations.Where(y => y.CourseUnitId == Model.Course.CourseUnits[v].Id))
                        {
                            @if (Model.Course.Section.Students[i].Grades.Any(z => z.EvaluationId == eva.Id))
                            {
                                <td class="bordered-detail center">@Model.Course.Section.Students[i].Grades.Where(z=>z.EvaluationId == eva.Id).Select(z=>z.Value).FirstOrDefault()</td>
                            }
                            else
                            {
                                <td class="bordered-detail center">-</td>
                            }
                        }

                        <td class="bordered-detail center">@Model.Course.Section.Students[i].Averages.Where(z=>z.Id == Model.Course.CourseUnits[v].Id).Select(z=>$"{z.Average:#0.00}").FirstOrDefault()</td>
                    }

                    <td class="bordered-detail center bold">@Model.Course.Section.Students[i].FinalGrade.ToString("00")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr height="50px">
                <td colspan="@colSpan">
                </td>
            </tr>
            <tr>
                <td colspan="@colSpan">
                    <table width="100%">
                        <tr>
                            <td class="center" width="10%">&emsp;</td>
                            <td class="center" width="30%">&emsp;</td>
                            <td class="center" width="20%">&emsp;</td>
                            <td class="center" width="30%">&emsp;</td>
                            <td class="center" width="10%">&emsp;</td>
                        </tr>
                        <tr>
                            <td class="no-signature">&emsp;</td>
                            <td class="center signature">DOCENTE</td>
                            <td class="no-signature">&emsp;</td>
                            <td class="center signature">COORDINADOR DE FACULTAD</td>
                            <td class="no-signature">&emsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>