@model AKDEMIC.REPOSITORY.Repositories.Intranet.Templates.EvaluationReport.EvaluationReportInformationTemplate
@using AKDEMIC.CORE.Extensions
@using AKDEMIC.CORE.Helpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Acta de notas</title>
    <style>
        body {
            font-family: "Calibri";
            font-size: 13px;
        }

        h1 {
            margin-bottom: 5px !important;
            font-size: 28px;
        }

        h2 {
            margin: 0px;
            font-size: 18px;
        }

        img {
            width: 120px;
        }

        header {
            width: 100%;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-weight: normal;
        }

        tr {
            page-break-inside: avoid;
        }


        th {
            page-break-inside: avoid;
        }

        .bordered {
            border: 1px solid black;
            padding: 3px 3px !important;
        }

        .headerformat .bordered {
            border: 1px solid black;
            padding: 3px 3px !important;
        }

        .headerformat .unbordered {
            border: 0px;
            padding: 3px 3px !important;
        }

        .no-background {
            background-color: transparent !important;
        }

        .unbordered {
            border: 0px !important;
            padding: 3px 3px !important;
        }

        th {
            font-weight: normal;
            text-align: left;
        }

        .red {
            color: red;
        }

        .bold {
            font-weight: bold;
            background-color: lightgray;
        }

        .center {
            text-align: center;
        }

        .header2 {
            font-size: 10px;
            padding: 3px 0px !important;
        }

        .header > th, td {
            border: 1px solid black;
            padding: 5px 3px !important;
        }

        .td-header {
            border: none;
            padding: 0px !important;
        }

        .detail-header {
            font-size: 11px;
            text-align: left;
            font-weight: 600;
        }

        .footer {
            font-size: 15px;
            text-align: center;
            font-style: italic;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: -6px;
        }

        .thd {
            border: 1px solid black;
            padding: 5px;
            font-size: 13px;
        }

        .negrita {
            font-weight: bold;
        }

        .center {
            text-align: center;
        }

        .unk-header {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    @*<img style="margin-left:40px;" src="@Model.Img" />*@

    <table>
        <thead class="headerformat" style="height:100px;">
            <tr class="unbordered" style="height:100px;">
                <th colspan="6" class="center">
                    <table style="width:100%">
                        <tr class="unbordered">
                            <td class="unbordered">
                                <img src="@Model.Img" />
                            </td>
                            <td class="unbordered">
                                <div class="unk-header center" style="font-size:18px;">
                                    <p style="margin:0px;text-transform: uppercase" class="negrita">@GeneralHelpers.GetInstitutionName() - @GeneralHelpers.GetInstitutionLocation()</p>
                                    <p style="margin:0px; text-transform: uppercase" class="negrita">FACULTAD DE @Model.Course.Career.Faculty</p>
                                    <p style="margin:0px;font-size:28px" class="negrita">ACTA FINAL</p>
                                </div>
                            </td>
                            <td class="unbordered">
                                <img style="visibility:hidden;" src="@Model.Img" />
                            </td>
                        </tr>
                    </table>
                </th>
            </tr>
            <tr class="unbordered" style="">
                <th class="unbordered" colspan="6" style="padding:unset !important">
                    <table class="unbordered">
                        <tbody class="unbordered">
                            <tr class="unbordered">
                                <td class="bold unbordered no-background" style="width:12%">ESCUELA PROF.:</td>
                                <td class="unbordered">@Model.Course.Career.Name</td>
                                <td class="unbordered"></td>
                                <td class="unbordered"></td>
                                <td class="unbordered"></td>
                                <td class="unbordered"></td>
                            </tr>
                            <tr class="unbordered">
                                <td class="bold unbordered no-background">ASIGNATURA:</td>
                                <td class="unbordered">@($"[{Model.Course.Curriculum}-{Model.Course.Code}] {Model.Course.Name}")</td>
                                <td class="bold unbordered no-background">PLAN DE ESTUDIO:</td>
                                <td class="unbordered">@Model.Course.Curriculum</td>
                                <td class="unbordered"></td>
                                <td class="unbordered"></td>
                            </tr>
                            <tr class="unbordered">
                                <td class="bold unbordered no-background">PERIODO:</td>
                                <td class="unbordered no-background">@Model.Term.Name</td>
                                <td class="bold unbordered no-background" style="width:18%">AÑO/SEMEST:</td>
                                <td class="unbordered">@(ConstantHelpers.ACADEMIC_YEAR.TEXT[Model.Course.AcademicYear])</td>
                                <td class="bold unbordered no-background" style="width:11%;"></td>
                                <td class="unbordered" style="width:6%;"></td>
                            </tr>
                            <tr class="unbordered">
                                <td class="bold unbordered no-background" style="width:9%">DOCENTE:</td>
                                <td class="unbordered">@Model.Course.Section.Teacher</td>
                                <td class="bold unbordered no-background" style="width:9%">TURNO:</td>
                                <td class="unbordered">-</td>
                                <td class="bold unbordered no-background"></td>
                                <td class="unbordered"></td>
                            </tr>
                            <tr class="unbordered">
                                <td class="bold unbordered no-background" style="width:9%">CR&Eacute;DITOS:</td>
                                <td class="unbordered">@Model.Course.Credits</td>
                                <td class="bold unbordered no-background" style="width:9%">SECCI&Oacute;N:</td>
                                <td class="unbordered">@Model.Course.Section.Code</td>
                                <td class="bold unbordered no-background"></td>
                                <td class="unbordered"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                </th>
            </tr>

            <tr class="bordered">
                <th rowspan="2" class="bold center bordered">N°</th>
                <th rowspan="2" class="bold center bordered">CÓDIGO</th>
                <th rowspan="2" colspan="2" class="bold center bordered">APELLIDOS Y NOMBRES</th>
                <th colspan="2" class="bold center bordered"> PROMEDIO FINAL </th>
            </tr>
            <tr class="bordered">
                <th class="bold center bordered">N°</th>
                <th class="bold center bordered">Letras</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.Course.Section.Students.Count(); i++)
            {
                <tr class="bordered">
                    <th class="thd center">@(i + 1)</th>
                    <th class="thd" style="border-right:0px !important;">@Model.Course.Section.Students[i].UserName</th>
                    <th class="thd" colspan="2" style="border-right:0px !important;">@Model.Course.Section.Students[i].FullName</th>

                    @if (Model.Course.Section.Students[i].Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN)
                    {
                        if (Model.Course.Section.Students[i].Approved)
                        {
                            <th class="thd" style="font-weight:bold;">@Model.Course.Section.Students[i].FinalGrade  @(Model.Course.Section.Students[i].HasSusti ? "(SUSTI)" : "")</th>
                            <th class="thd">@Model.Course.Section.Students[i].FinalGradeText</th>
                        }
                        else
                        {
                            <th class="red thd">@Model.Course.Section.Students[i].FinalGrade @(Model.Course.Section.Students[i].HasSusti ? "(SUSTI)" : "")</th>
                            <th class="red thd">@Model.Course.Section.Students[i].FinalGradeText</th>

                        }
                    }
                    else
                    {
                        <th class="red thd">R</th>
                        <th class="red thd">RETIRADO</th>
                    }
                </tr>
            }

            @if (!Model.Course.Section.Students.Any())
            {
                <tr class="bordered">
                    <th class="center" colspan="6">No hay estudiantes en la sección</th>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr class="unbordered">
                <th class="unbordered" colspan="6">
                    <br />
                    <table>
                        <tr>
                            @{
                                var app = Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN && x.Approved).Count();
                                var disapp = Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN && !x.Approved).Count();
                                var ret = Model.Course.Section.Students.Where(x => x.Status == ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN).Count();
                            }
                            <td class="bold no-background">REFERENCIAS</td>
                            <td class="">MATRICULADOS: <span class="bold no-background"> @Model.Course.Section.Students.Count()</span></td>
                            <td class="" colspan="2">APROBADOS: <span class="bold no-background"> @app</span></td>
                            <td class="" colspan="2">DESAPROBADOS: <span class="bold no-background"> @disapp</span></td>
                            <td class="">RETIRADOS / OTROS: <span class="bold no-background"> @ret</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="bold no-background">ELABORADO POR: <span style="font-style:normal">@Model.UserLoggedIn</span></td>
                            <td colspan="2" rowspan="2" class="bold center no-background" style="">Fecha Acta: <br />@Model.BasicInformation.DateByConfiguration.ToLocalDateFormat()</td>
                            <td colspan="2" rowspan="2" class="bold no-background" style="vertical-align:top;font-size:10px">FIRMA DOCENTE:</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="bold no-background" style="color:transparent">|</td>
                        </tr>
                    </table>
                </th>
            </tr>
            <tr class="unbordered">
                <th class="unbordered" colspan="6">
                    La nota mínima de aprobación es 11 en la escala vigesimal de 00 a 20
                </th>
                <th class="unbordered" colspan="2" style="text-align:right">

                </th>
            </tr>
            <tr class="unbordered">
                <th colspan="6">
                    <table style="width:100%">
                        <tr class="unbordered" style="height:90px;vertical-align:bottom">
                            <th colspan="3" class="center" style="padding:0 20px;">
                                <div style="border-bottom:1px solid black;height:inherit;margin:0;padding:0;color:transparent">|||||</div>
                            </th>
                            <th colspan="3" class="center" style="padding:0 20px;">
                                <div style="border-bottom:1px solid black;height:inherit;margin:0;padding:0;color:transparent">|||||</div>
                            </th>
                            <th colspan="3" class="center" style="padding:0 20px;">
                                <div style="border-bottom:1px solid black;height:inherit;margin:0;padding:0;color:transparent">|||||</div>
                            </th>
                        </tr>
                        <tr class="unbordered">
                            <th colspan="3" class="center" style="vertical-align:top">
                                <span>Director Académico</span>
                            </th>
                            <th colspan="3" class="center" style="vertical-align:top">
                                <span>Secretario Académico</span>
                            </th>
                            <th colspan="3" class="center" style="vertical-align:top">
                                <span>Director General</span>
                            </th>
                        </tr>
                    </table>
                </th>
            </tr>
      
        </tfoot>
    </table>
    <br />
</body>
</html>
