@model AKDEMIC.INTRANET.Areas.Academic.ViewModels.StudentInformation.UpperFifthViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="document-header">
        <img class="header-image left" src="@Environment.CurrentDirectory/wwwroot/images/escudo.png" />
        <img class="header-image right" src="@Environment.CurrentDirectory/wwwroot/images/themes/@GeneralHelpers.GetTheme()/logo-report.png" />

        <div class="cleared">
            <div class="company-name">
                @GeneralHelpers.GetInstitutionName().ToUpper()
            </div>
            <div class="area-name center">
                @Model.University.HeaderOffice.ToUpper()
            </div>
            <div class="office-name center">
                @Model.University.Office.ToUpper()
            </div>
            <div class="address-text">
                @Model.University.Campus - Télefono @Model.University.PhoneNumber - @Model.University.Address - Página Web @Model.University.WebSite
            </div>
        </div>

    </div>

    <div class="cited-text" style="font-size:13px;margin-bottom:-16px;padding-bottom:0px">
        "@Model.University.YearInformation.ToUpper()"
    </div>
    <div class="center record-name">
        CONSTANCIA DE DÉCIMO SUPERIOR
    </div>


    <div class="double-border">
        <div class="student-image right" style="border:1px dotted lightgray; height:178px; width:150px;font-size:8px"></div>

        <p class="subscriber-text">
            @Model.University.Sender.ToUpper() DE LA @(GeneralHelpers.GetInstitutionName().ToUpper())
        </p>
        <br />
        <div class="register-text">HACE CONSTAR</div>
        <br />
        <p style="text-align:justify;line-height : 25px; margin-right:5px;">
            Que, @(Model.StudentSex == ConstantHelpers.SEX.MALE ? "el Sr." : "la Srta.") @Model.StudentName, con C&oacute;digo de Matr&Iacute;cula N° @Model.StudentCode; @(Model.IsGraduated ? "egresad" + (Model.StudentSex == ConstantHelpers.SEX.FEMALE ? "a" : "o") : "estudiante") de la Facultad de @Model.Faculty - Escuela Profesional de @Model.Career, @(Model.IsGraduated ? "durante sus" : "hasta el " + Model.CurrentSemester + " semestre de") estudios en esta Universidad, ha sido ubicad@(Model.StudentSex == ConstantHelpers.SEX.MALE ? "o" : "a") en el Cuadro de Méritos:
        </p>

        <table class="table table-center">
            <thead>
                <tr>
                    <th>SEMESTRE ACAD&Eacute;MICO</th>
                    <th>ORDEN DE M&Eacute;RITO</th>
                    <th>PROM. POND. SEMEST.</th>
                    <th>CRED. APROB. SEMEST.</th>
                    <th>N° DE ALUM. QUINTO SUP.</th>
                    <th>TOTAL N° ESTUDIANTES</th>
                    <th>OBSERV.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.Details)
                {
                    <tr>
                        <td>@detail.Term</td>
                        <td>@detail.MeritOrder</td>
                        <td>@detail.Average</td>
                        <td>@detail.ApprovedCredits</td>
                        <td>@detail.TotalStudentsInUpperFifth</td>
                        <td>@detail.TotalStudents</td>
                        <td>@detail.Observations</td>
                    </tr>

                }
            </tbody>
        </table>

        <p style="text-align:justify;line-height : 25px; text-rendering:geometricPrecision ">
            Perteneci&oacute; al <strong>DÉCIMO SUPERIOR</strong> en los Años Acad&eacute;micos. <strong>@Model.RangeOfTerms</strong>.
        </p>
        @if (Model.IsGraduated)
        {
            <p style="text-align:justify;line-height : 25px;">
                Habiendo obtenido un Promedio Ponderado Acumulado de @Model.WeightedAverage.
            </p>
        }
        <p style="text-align:justify;line-height : 25px;">
            Asi consta en los documentos oficiales que obran en esta Oficina a los que me remito en caso necesario.
        </p>
        <p style="text-align:justify;line-height : 25px;">
            Se expide la presente, a solicitud escrita @(Model.StudentSex == AKDEMIC.CORE.Helpers.ConstantHelpers.SEX.FEMALE ? "de la interesada" : "del interesado") para los fines que estime conveniente.
        </p>
    </div>
    @*<div style="width:100%; text-align:start">
            <img style="width:100px; height:100px !important;" src="@Model.ImageQR" />
        </div>*@
    @*<div class="document-footer" style="text-align:right"><div class="pull-right">C&Oacute;DIGO:@Model.PageCode</div></div>*@
    <div class="document-footer" style="text-align:right;margin-top:20px"><div class="">@Model.Location, @Model.Date</div></div>
</body>

</html>