@model bool
@{
    ViewBag.Title = "Gestión del padrón de registro";    
}

<div class="m-content">
    <div class="m-portlet m-portlet--tabs">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Padrones de registro
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">

                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <button type="button" class="m-portlet__nav-link btn btn-success m-btn m-btn--pill m-btn--air btn-excel-sunedu">
                            Exportar padrones SUNEDU
                        </button>
                    </li>
                    <li class="m-portlet__nav-item">
                        <button type="button" class="m-portlet__nav-link btn btn-success m-btn m-btn--pill m-btn--air btn-excel">
                            Exportar registros
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-12 order-2 order-xl-1">
                    <div class="row">
                        <div class="form-group m-form__group col-xl-3">
                            <label>Facultad</label>
                            <div class="m-input m-input-icon m-select2 m-input-icon--left">
                                <select id="facultyId" class="form-control m-input"></select>
                            </div>
                        </div>
                        <div class="form-group m-form__group col-xl-4">
                            <label>Escuela Profesional</label>
                            <div class="m-input m-input-icon m-select2 m-input-icon--left">
                                <select id="careerId" class="form-control m-input"></select>
                            </div>
                        </div>
                        <div class="form-group m-form__group col-xl-4">
                            <label>Programa académico</label>
                            <div class="m-input m-input-icon m-select2 m-input-icon--left">
                                <select id="program_academicId" class="form-control m-input"></select>
                            </div>
                        </div>
                        <div class="form-group m-form__group col-xl-1" style="margin-top: 25px;">
                            <label> </label>
                            <button type="button" id="btn-search-filters" class="m-btn btn btn-primary"><i class="la la-search"></i></button>
                        </div>

                    </div>
                </div>
                <div class="col-xl-12 order-2 order-xl-1">
                    <div class="row">
                        <div class="form-group m-form__group col-xl-4">
                            <label> </label>
                            <div class="m-input m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar por DNI o nombre o código..." id="search">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group col-xl-3">
                            <label> </label>
                            <div class="m-input m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar por número de libro..." id="searchBookNumber">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group col-xl-2">
                            <label>Tipo</label>
                            <div class="m-input m-select2">
                                <select id="type" class="form-control m-input">
                                    <option value="0">Todas</option>
                                    @foreach (var item in ConstantHelpers.GRADE_INFORM.DegreeType.VALUES)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group col-xl-2">
                            <label>Estado</label>
                            <div class="m-input m-select2">
                                <select id="clasification" class="form-control m-input">                                    
                                    @foreach (var item in ConstantHelpers.REGISTRY_PATTERN.CLASIFICATION.VALUES)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-12 order-2 order-xl-1">
                    <div class="row">
                        <div class="form-group m-form__group col-xl-5">
                            <label> </label>
                            <label for="dateStartFilter">Fecha inicio (*):</label>
                            <input id="dateStartFilter" class="form-control m-input">
                        </div>
                        <div class="form-group m-form__group col-xl-5">
                            <label> </label>
                            <label for="dateEndFilter">Fecha fin (*):</label>
                            <input id="dateEndFilter" class="form-control m-input">
                        </div>
                        <div class="form-group m-form__group col-xl-2" style="margin-top: 25px;">
                            <label> </label>
                            <button type="button" id="btn-search-dates" class="m-btn btn btn-primary"><i class="la la-search"></i></button>
                        </div>

                    </div>
                </div>




            </div>
        </div>
        <table class="table table-striped table-bordered" id="tbl-datatable-registry-patterns">
            <thead>
                <tr>
                    <th>@(Model ? "Trámite" : "Concepto")</th>

                    <th>Tipo</th>

                    <th>Estudiante</th>

                    <th>DNI</th>

                    <th>Escuela Profesional</th>

                    @*<th>Ciclo</th>*@

                    <th>Opciones</th>
                </tr>                
            </thead>
        </table>
    </div>
</div>

    @section Scripts {

        <script src="~/js/lib/jquery.fileDownload/jquery.fileDownload.min.js"></script>
        <script src="~/js/areas/admin/registrypattern/index.js" asp-append-version="true"></script>
    }

