@using AKDEMIC.INTRANET.Areas.Admin.Models.CurriculumViewModels
@model List<CurriculumViewModel>
@{
    ViewData["Title"] = "Plan de estudios";
    ViewData["Breadcrumbs"] = new[] {
new BreadcrumbViewData {Name="Planes de estudios", Area="Admin", Action="Index", Controller="Curriculum"},
new BreadcrumbViewData { Name = "Detalle"}
};
    ViewData["BackUrl"] = Url.Action("Index", "Curriculum", new { area = "Admin" });
    var sectionId = ViewBag.Id;
    var curriculumName = (string)ViewData["curriculum"];
}
@section Styles{
    <link href="~/css/areas/student/curriculum/mallacurricular.css" rel="stylesheet" />
}

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Plan Curricular @curriculumName
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <button data-id="@sectionId" id="printReport" type="button" class="btn btn-primary btn-sm m-btn m-btn--icon btn-download" title="Descargar Reporte">
                            <span>
                                <i class="la la-file-pdf-o"></i>
                                <span>Generar PDF</span>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin::Section-->
            @foreach (var item1 in Model.OrderBy(x => x.Cycle).GroupBy(x => new { x.Cycle }))
            {
                <div class="m-section">
                    <div class="m-section__content">
                        <h5> Ciclo @item1.Key.Cycle</h5>

                        <div class="table-responsive">
                            <table class="table table-bordered m-table m-table--border-metal">
                                <thead style="background-color:#363636; color:white;">
                                    <tr class="allign-left">
                                        <th>Código</th>
                                        <th>Asignatura</th>
                                        <th>Área</th>
                                        <th>Créditos</th>
                                        <th>Créditos requeridos</th>
                                        <th>HT</th>
                                        <th>HP</th>
                                        <th>HV</th>
                                        <th>HS</th>
                                        <th>Pre Requisitos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in item1.OrderBy(x => x.CodeCourse))
                                    {
                                    <tr class="allign-left">
                                        <td class="width-lg" style="text-align:left; width:85px;">@item.CodeCourse</td>
                                        <td class="width-xlg">@item.NameCourse</td>
                                        <td class="width-xlg">@item.NameArea</td>
                                        <td class="width-m">@item.Credits</td>
                                        <td class="width-lg">@item.RequiredCredits</td>
                                        <td class="width-sm">@item.TheoreticalHours</td>
                                        <td class="width-sm">@item.PracticalHours</td>
                                        <td class="width-sm">@item.VirtualHours</td>
                                        <td class="width-sm">@item.SeminarHours</td>


                                        <td>

                                            @if (item.Requisites.Count == 0)
                                            {
                                                @("No tiene requisitos")
                                            }
                                            else
                                            {
                                                @foreach (var r in item.Requisites)
                                                {
                                                    @*@(r.Name + " / ")*@

                                                    <span>- @r.Name</span><br />
                                                }

                                                @foreach (var c in item.Certificates)
                                                {
                                                    @*@(r.Name + " / ")*@

                                                    <span>- @c.Name</span><br />
                                                }
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            }
            <div class="m-widget14__legend">
                <div class="m-widget14__legend">
                    <span class="m-widget14__legend-bullet"></span>
                    <span class="m-widget14__legend-text ">*HP: Horas Prácticas</span>
                </div>
                <div class="m-widget14__legend">
                    <span class="m-widget14__legend-bullet"></span>
                    <span class="m-widget14__legend-text ">*HS: Horas Seminario</span>
                </div>
                <div class="m-widget14__legend">
                    <span class="m-widget14__legend-bullet"></span>
                    <span class="m-widget14__legend-text ">*HT: Horas Teóricas</span>
                </div>
                <div class="m-widget14__legend">
                    <span class="m-widget14__legend-bullet"></span>
                    <span class="m-widget14__legend-text ">*HV: Horas Virtuales</span>
                </div>

            </div>
        </div>
        <div class="m-portlet__foot">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-6">
                        <a asp-action="Index" asp-controller="Curriculum" asp-area="Admin" class="btn btn-secondary m-btn m-btn--icon">
                            <span>
                                <i class="la la-reply"></i>
                                <span>Atr&aacute;s</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/admin/curriculum/curriculumdetails.js"></script>
}