@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/Templates/Login/_Layout.cshtml";
    var title = string.IsNullOrEmpty((string)ViewData["LoginTitle"]) ? AKDEMIC.INTRANET.Helpers.ConstantHelpers.Project.NAME.ToUpper() : ViewData["LoginTitle"].ToString().ToUpper();
    int IsLockedOut = Convert.ToInt32(ViewBag.IsLockedOut);
    string lockedOutReason = ViewBag.LockedOutReason;
}
<input id="IsLockedOut" value="@IsLockedOut" hidden />
<input id="Reason" value="@lockedOutReason" hidden />
<div class="m-login__wrapper">
    <div class="form">
        <a href="#">
            <img class="logo" src="~/images/themes/@GeneralHelpers.GetTheme()/logo.png">
        </a>
        <h1>@title</h1>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="main_form_login"  class="material-form">
            <div asp-validation-summary="All" class="text-danger" style="font-weight: 500;"></div>
            <div class="group">
                <input asp-for="UserName" placeholder="USUARIO" name="username" autocomplete="off" />
                <img class="ico" src="~/images/login/user.svg" />
                <div class="bar"></div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Password" type="password" placeholder="CONTRASEÑA" name="password" />
                <i class="fa fa-eye"></i>
                <img class="ico" src="~/images/login/pass.svg" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="bar"></div>
            </div>
            <div class="group">
                <button id="m_login_signin_submit" class="btn button-submit">
                    INGRESAR
                </button>
                @if (ConstantHelpers.GENERAL.ExternalAuthentication.GOOGLE)
                {
                    <a id="google" style="width:100%;margin-top:0px !important;padding: 10px;" class="btn btn-primary btn-lg button-submit" asp-action="ExternalLogin" asp-route-provider="Google" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        INGRESAR CON GOOGLE
                    </a>
                }
                @if (ConstantHelpers.GENERAL.ExternalAuthentication.MICROSOFT)
                {
                    <a id="office" style="width:100%;margin-top:0px !important;padding: 10px;" class="btn btn-primary btn-lg button-submit" asp-action="ExternalLogin" asp-route-provider="Microsoft" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        INGRESAR CON MICROSOFT
                    </a>
                }
                <a class="forget-password-label" asp-controller="Account" asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>
<partial name="Partials/_ModalBeginningAnnouncement" model="Model.BeginningAnnouncements" />

@section Scripts {
    <script>
        $(".group>i").hide();
        $(".group>i").click(function () {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
                this.className = "fa fa-eye-slash";
            }
            else {
                x.type = "password";
                this.className = "fa fa-eye";
            }
        });
        $("#Password").on("focus", function () {
            $(".group>i").show();
            $(".ico:eq(1)").hide();
        }).on("blur", function () {
            if (this.value != "") return;
            $(".group>i").hide();
            $(".ico:eq(1)").show();
        });
    </script>
    <script src="~/js/views/home/beginningannouncements.js"></script>
    <script src="~/js/views/account/login.js" asp-append-version="true"></script>
}
