@model AKDEMIC.REPOSITORY.Repositories.Intranet.Templates.EvaluationReport.EvaluationReportInformationTemplate
@using AKDEMIC.CORE.Extensions
@using AKDEMIC.CORE.Helpers
@using Microsoft.AspNetCore.Hosting;
@inject IWebHostEnvironment _webHostEnvironment
@{
    Layout = null;
    Model.Course.Section.Students = Model.Course.Section.Students.Where(x => x.Status != ConstantHelpers.STUDENT_SECTION_STATES.WITHDRAWN).ToList();
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Acta de notas</title>
    <link href="@(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, @"css/views/evaluation_report/evaluation_report_fonts.css"))" rel="stylesheet" type="text/css" />    
    <link href="@(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, @"css/views/evaluation_report/format1/evaluation_report_register_header.css"))" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <div style="position:absolute; text-align:center; padding:20px 20px;">
        @*<img src="@Model.Img" />*@
    </div>
    <div class="unk-header center" style="font-size:18px;">
        <h1 class="negrita">@AKDEMIC.CORE.Helpers.GeneralHelpers.GetInstitutionName().ToUpper()</h1>
        <h2 class="negrita">VICE RECTORADO ACADÉMICO</h2>
        <h2 class="negrita">OFICINA DE REGISTRO Y ARCHIVO ACADÉMICO</h2>
    </div>
    <div style="float: right;">
        @*<img style="width:150px !important; padding-right:30px;" src="data:image/png;base64, @Model.FinalQR" />*@
        <img style="width:140px !important; height:25px !important; padding-right:30px;" src="@Model.FinalQR" />

    </div>
    <br />

    <table border="0" style="border: none; margin: 0;">
        <tbody>
            <tr>
                <td class="td-header">
                    &emsp;
                </td>
                <td style="width:100px; border:0px !important;" class="td-header">
                    <span class="detail-header" style="font-size: 10px !important; font-weight: bold;"> Nº DE REG.:</span>
                </td>
                <td style="border:0px !important;" class="td-header">
                    <span style="font-size: 10px !important; font-weight: bold;">@Model.BasicInformation.Code </span>
                </td>
                <td class="td-header" style="width:30px !important;">
                    &emsp;
                </td>
            </tr>
            <tr>
                <td class="td-header">
                    <h3 style="display: inline"> REGISTRO DE EVALUACIÓN: @(ConstantHelpers.Intranet.EvaluationReportType.NAMES.ContainsKey(Model.BasicInformation.Type) ? ConstantHelpers.Intranet.EvaluationReportType.NAMES[Model.BasicInformation.Type].ToUpper() : "-")  </h3>
                </td>
                <td style="border:0px !important;" class="td-header">
                    <span style="font-size: 10px !important; font-weight: bold;"> Nº DE ACTA:</span>
                </td>
                <td style="border:0px !important;" class="td-header">
                    <span style="font-size: 10px !important; font-weight: bold;">@Model.BasicInformation.Code </span>
                </td>
                <td class="td-header" style="width:30px !important;">
                    &emsp;
                </td>
            </tr>
            <tr>
                <td class="td-header">
                    <h3 style="display: inline"> FACULTAD: @Model.Course.Career.Faculty</h3>
                </td>
                <td class="td-header">
                    <span class="detail-header"> HORAS TEORICAS:</span>
                </td>
                <td class="td-header">
                    <span class="detail-header">@(Model.Course.TheoreticalHours)</span>
                </td>
                <td class="td-header" style="width:30px !important;">
                    &emsp;
                </td>
            </tr>
            <tr>
                <td class="td-header">
                    <h3 style="display: inline"> ESCUELA PROFESIONAL: @Model.Course.Career.Name</h3>
                </td>
                <td class="td-header">
                    <span class="detail-header"> HORAS PRÁCTICAS: </span>
                </td>
                <td class="td-header">
                    <span class="detail-header">@(Model.Course.PracticalHours)</span>
                </td>
                <td class="td-header" style="width:30px !important;">
                    &emsp;
                </td>
            </tr>
            <tr>
                <td class="td-header">
                    <h3 style="display: inline"> COMPONENTE CURRICULAR: @($"[{Model.Course.Curriculum}-{Model.Course.Code}] {Model.Course.Name}")</h3>
                </td>
                <td class="td-header">
                    <span class="detail-header"> HORAS EFECTIVAS:</span>
                </td>
                <td class="td-header">
                    <span class="detail-header">@Model.Course.EffectiveHours</span>
                </td>
                <td class="td-header" style="width:30px !important;">
                    &emsp;
                </td>
            </tr>
            <tr>
                <td class="td-header">
                    <h3 style="display: inline">DOCENTE: @Model.Course.Section.Teacher</h3>
                </td>
                <td class="td-header" colspan="3">
                    <span class="detail-header"> FECHA: @(Model.BasicInformation.DateByConfiguration.HasValue ? Model.BasicInformation.DateByConfiguration.ToLocalDateFormat() : "-")</span>
                </td>
            </tr>
            <tr>
                <td class="td-header">
                    <h3 style="display: inline">CRÉDITOS: @Model.Course.Credits</h3>
                </td>
                <td class="td-header" colspan="3">
                    <span class="detail-header"> HORA : @(Model.BasicInformation.DateByConfiguration is null ? "-" : Model.BasicInformation.DateByConfiguration.ToDefaultTimeZone()?.ToString("hh:mm:ss tt").ToUpper())</span>
                </td>
            </tr>
            <tr>
                <td class="td-header">
                    <h3 style="display: inline">
                        AÑO ACADÉMICO: @Model.Term.Name &emsp; CICLO: @(ConstantHelpers.ACADEMIC_YEAR.TEXT.ContainsKey(Model.Course.AcademicYear) ? ConstantHelpers.ACADEMIC_YEAR.TEXT[Model.Course.AcademicYear].ToUpper() : "-")  &emsp;

                        @if (Model.BasicInformation.Type != ConstantHelpers.Intranet.EvaluationReportType.EXTRAORDINARY_EVALUATION)
                        {
                            @(Model.Course.Section.Code.Contains("GRUPO") ? Model.Course.Section.Code : $"GRUPO {Model.Course.Section.Code}");
                            <span>&emsp;</span>
                        }
                        Usuario : @Model.UserLoggedIn.ToLower()
                    </h3>
                </td>
                <td class="td-header" colspan="3">
                    <span class="detail-header"> F.I.: @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt").ToUpper()</span>
                </td>
            </tr>
        </tbody>
    </table>

    @if (Model.BasicInformation.Type == ConstantHelpers.Intranet.EvaluationReportType.EXTRAORDINARY_EVALUATION)
    {
        <table style="margin-top:720px !important;">
            <thead>
                <tr>
                    <th class="bold center">DOCENTES</th>
                    <th class="bold center">CARGO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="thd" style="border-right:0px !important;">@Model.Course.Section.Teacher</th>
                    <th class="thd">Presidente</th>
                </tr>
                @foreach (var item in Model.BasicInformation.Comittee)
                {
                    <tr>
                        <th class="thd">@item</th>
                        <th class="thd">Comit&eacute;</th>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }

    @{
        var style = Model.BasicInformation.Type == ConstantHelpers.Intranet.EvaluationReportType.EXTRAORDINARY_EVALUATION ? "" : "margin-top:820px !important;";
    }
    <table style="@style">
        <tbody>
            <tr style="height:45px; vertical-align:top;">
                <th style="width:50%;" colspan="10"><span style="float:left; font-size:10px;">Evidencia de Conocimiento</span></th>
            </tr>
            <tr style="height:45px; vertical-align:top;">
                <th style="width:50%;" colspan="10"><span style="float:left; font-size:10px;">Evidencia de Desempeño</span></th>
            </tr>
            <tr style="height:45px; vertical-align:top;">
                <th style="width:50%; " colspan="4"><span style="float:left; font-size:10px;">Evidencia de Producto</span></th>
                <th style="border:0px !important; font-size:18px;" colspan="6"><span style="margin-top:2px; margin-left:2px;">@ConstantHelpers.Institution.Locations[ConstantHelpers.GENERAL.Institution.Value], @DateTime.UtcNow.ToDefaultTimeZone().Day de  @AKDEMIC.CORE.Helpers.ConstantHelpers.MONTHS.VALUES[DateTime.UtcNow.ToDefaultTimeZone().Month].ToLower() de @DateTime.UtcNow.ToDefaultTimeZone().Year</span></th>
            </tr>
            <tr>
                <th style="text-align:center; font-weight:bold; border:0px !important; height:50px !important;">&emsp;</th>
            </tr>
            <tr>
                <th style="border:0px !important; border-top:1px solid rgba(0, 0, 0, 0.55) !important; text-align:center; color:rgba(0, 0, 0, 0.55) !important;">Coordinador Académico<br />Firma y Sello</th>
                <th style="border:0px !important;">&emsp;</th>
                <th style="border:0px !important;">&emsp;</th>
                <th style="border:0px !important;">&emsp;</th>
                <th style="border:0px !important;">&emsp;</th>
                <th style="border:0px !important;">&emsp;</th>
            </tr>
            <tr>
                <th style="text-align:center; font-weight:bold; border-bottom:0px !important">Fecha de Recepción</th>
                <th style="text-align:center; font-weight:bold; border:0px !important">&emsp;</th>
                <th width="15%" style="text-align:center; border:0px !important; border-top:1px solid rgba(0, 0, 0, 0.55) !important; color:rgba(0, 0, 0, 0.55) !important;">Director de Escuela<br />Firma y Sello</th>
                <th style="text-align:center; font-weight:bold; border:0px !important">&emsp;</th>
                <th width="15%" style="text-align:center; border:0px !important; border-top:1px solid rgba(0, 0, 0, 0.55) !important; color:rgba(0, 0, 0, 0.55) !important">Docente del Curso<br />Firma y Sello</th>
                <th style="text-align:center; font-weight:bold; border:0px !important">&emsp;</th>
                <th width="15%" style="text-align:center; border:0px !important; border-top:1px solid rgba(0, 0, 0, 0.55) !important;">&emsp;</th>
                <th style="text-align:center; font-weight:bold; border:0px !important">&emsp;</th>
                <th width="15%" style="text-align:center; border:0px !important; border-top:1px solid rgba(0, 0, 0, 0.55) !important;">&emsp;</th>
                <th style="text-align:center; font-weight:bold; border:0px !important">&emsp;</th>

            </tr>
            <tr>
                <th style="font-weight:bold; text-align:center; border-top:0px !important;">@(!Model.BasicInformation.ReceptionDate.HasValue ?"-" : Model.BasicInformation.ReceptionDate.ToLocalDateFormat())</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
                <th style="font-weight:bold; text-align:center; border:0px !important;">&emsp;</th>
            </tr>
        </tbody>
    </table>


</body>
</html>
